.nav-item a {
  margin: 2px !important;
  border: 2px !important;
  border-color: tomato !important;
}
.nav-link {
  border-width: 2px !important;
  border-color: green !important;
}
.days-dropdown {
  width: 20%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 12rem;
  padding: 2rem 1rem;
  background-color: #f8f9fa;
}

.content {
  margin-left: 11rem;
  margin-right: 2rem;
  padding: 2rem 2rem;
  position: fixed;
}